@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/chordcharts.js"></script>

<div class='well'>
    <p>Just enter the notes in the chord you wish to see and the position on the neck you wish to play in (default is 0). Use '#' and 'b' to indicate sharp or flat notes.</p>
    <p>
        Root notes are higlighted in a darker color.
    </p>
</div>

<div class="container">
    <label>Root<input type='text' class="editor" placeholder="Example: C" id='key' value="C" /></label>
    <label>Notes<input type='text' class="editor" placeholder="Example: CEG" id='chord' value="C#FAb" /></label>
    <label>Neck Position<input type='text' class="editor" id='position' value="0" /></label>
</div>
<div id="target" class='container row'>
</div>

<script type="text/javascript">
    $(function() {
        try {

            var options = {
                element: "#target"
            };

            var chart = isg.guitar.Chart(options);

            function updateFromUI() {
                var notes = $("#chord").val();
                chart.notes(notes);

                var rawValue = $("#position").val();
                var position = parseInt(rawValue);
                chart.position(position);
            }

            $(".editor").focusout(function () {
                updateFromUI();
            });

            updateFromUI();


        }
        catch (e) {
            alert(e.toString());

        }
    });
</script>